@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open-sans", sans-serif;
  color: rgb(36, 95, 190);
}

.container {
  width: 62%;
  margin: auto;
}

.App {
  height: 100vh;
  width: 100%;
  background-image: url("../src/img/warm.png");
  transition: 0.6s ease-out;
}

.App.cold {
  background-image: url("../src/img/cold.png");
  transition: 0.6s ease-in-out;
}

.appname {
  text-align: center;
  padding-top: 20px;
  color: rgb(36, 95, 190);
}

.locationinput {
  font-family: "Open-sans", sans-serif;
  background-color: rgb(95, 95, 95);
  padding: 10px 0;
  border-radius: 8px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  margin: auto;
  outline: none;
  color: rgb(36, 95, 190);
  background-color: rgba(255, 255, 255, 0.479);
  border-color: rgba(255, 255, 255, 0.349);
}

.locationinput::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-left: 0;
  color: rgb(8, 77, 187);
  opacity: 0.6;
}

.weather-row {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  justify-content: center;
  box-sizing: border-box;
}

.weather-column {
  max-width: 30%;
  display: inline-block;
  margin: 15px 70px;
  text-align: center;
  box-sizing: border-box;
  font-size: 25px;
  white-space: nowrap;
}

.hum {
  padding-right: 100px;
}

.wcountry {
  text-align: center;
  font-size: 37px;
}

.wfirst {
  margin-top: 15px;
}

.wsecond {
  height: 100px;
  padding-bottom: 10px;
}

.w-fix {
  margin-top: 100px;
}

.wthird {
  margin: auto;
  height: auto;
  margin-left: 44%;
  vertical-align: center;
  align-items: center;
}

.weather-desc {
  font-size: 49px;
  margin-top: 5px;
  font-weight: 200;
}

.weather-upper {
  margin-top: 40px;
  width: 100%;
  height: 350px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.404);
}

.weather-stats {
  width: 100%;
  height: 260px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.404);
}

.column-temp {
  margin-left: 27%;
  float: left;
  font-size: 115px;
}

.column-icon {
  margin-right: 27%;
  float: right;
}

img {
  margin-top: 12px;
  width: 170px;
}

span {
  padding-right: 20px;
}

.region {
  margin-top: 30px;
}

@media (max-width: 1650px) {
  .container {
    width: 70%;
    margin: auto;
  }

  .weather-column {
    max-width: 30%;
    display: inline-block;
    margin: 15px 30px;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 21px;
  }

  .column-temp {
    margin-left: 19%;
    float: left;
    font-size: 115px;
  }

  .column-icon {
    margin-right: 19%;
    float: right;
  }

  .hum {
    padding-right: 70px;
  }
}

@media (max-width: 1170px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .weather-column {
    max-width: 45%;
    max-height: 100%;
    display: inline-block;
    margin: 15px 4px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
  }

  .weather-row {
    padding-bottom: 20px;
  }

  .column-temp {
    margin-left: 20%;
    font-size: 115px;
  }

  .column-icon {
    margin-right: 20%;
  }

  .wfirst {
    margin-top: 25px;
  }

  .wsecond {
    height: 100px;
    padding-bottom: 10px;
  }

  .w-fix {
    margin-top: 70px;
  }

  .weather-desc {
    margin-right: 70%;
  }

  .hum {
    padding-right: 0px;
  }
}

@media (max-width: 830px) {
  .weather-column {
    min-width: 180px;
    max-height: 100%;
    display: inline-block;
    margin: 15px 4px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    white-space: pre-wrap;
  }

  span {
    padding-right: 5px;
  }
  span:nth-child(2) {
    display: block;
  }

  .weather-desc {
    font-size: 38px;
    line-height: 70px;
    font-weight: 100;
  }

  .column-temp {
    margin-left: 17%;
    font-size: 100px;
  }

  .column-icon {
    margin-right: 17%;
  }

  img {
    margin-top: 12px;
    width: 150px;
  }

  .weather-stats {
    width: 100%;
    height: 272px;
    border: 2px solid white;
    border-radius: 15px;
  }
}

@media (max-width: 700px) {
  .weather-column {
    min-width: 100px;
    max-height: 80%;
    display: inline-block;
    margin: 0 4px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    font-size: 17px;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-weight: 600;
  }

  .column-temp {
    margin-left: 7%;
    float: left;
    font-size: 60px;
  }

  .column-icon {
    margin-right: 7%;
    float: right;
  }

  .hum {
    padding-right: 0;
  }

  .weather-row {
    padding-bottom: 30px;
  }

  .column-temp {
    margin-left: 7%;
    margin-top: 32px;
    font-size: 80px;
  }

  .column-icon {
    margin-right: 3%;
    margin-top: 25px;
  }

  img {
    margin-top: 12px;
    width: 130px;
  }

  .wfirst {
    margin-top: 35px;
  }

  .wsecond {
    margin-bottom: 20px;
    height: 150px;
  }

  .w-fix {
    margin: 0;
  }

  .wthird {
    margin-left: 35%;
    margin-top: 70px;
  }

  .weather-desc {
    margin-top: 10px;
    line-height: 0px;
    margin-bottom: 20px;
  }

  .wcountry {
    font-weight: 100px;
  }

  .stats-container {
    margin-top: 45px;
  }
}
